/*general///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	*/	

body {
	width: 1200px;
	margin: auto;
	font-family: trebuchet MS;
	background: url("img/tiles3.jpg") fixed;
	color: #DDD;
}

h1 {
	text-align: center;
	background: url("img/logop.png") no-repeat center top;
	font-size: 0;
	padding: 150px;
	margin: 30px 0;
}

h2 {
	text-transform: uppercase;
	font-size: x-large;
	color: #fff;
	background: url("img/dark-leather.png") #111;
	padding: 10px 0 10px 60px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px rgb(1,1,1,0.2);
/*	font-family: 'Voltaire', 'MS Trebuchet';*/
}



h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: medium;
	padding-left: 30px;												/* H3 en cuerpo con mas padding por la izquierda que los p  */
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #b99;														/*	TRIM COLOR	*/
}

p {
	width: 90%;
	margin:auto;
	padding: 0 40px;
	text-align: justify;
}

ul {
	list-style: none;
}

strong {
	font-weight: normal;
	color: #EEE;
}

img {
	margin-top: 15px;
	margin-left: 5%;
	box-shadow: 3px 3px 15px rgb(1,1,1,0.2);
	border-radius: 7px;
}

.titulo {
	font-style: italic;
	color: #EEE;
}

#actual {
	color: #b99;														/*	TRIM COLOR	*/
}

/*h3 de info.html 						////////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	*/	

#listadocente li {
	background: rgb(1,1,1,0.2);
	width: 97%;
	margin-bottom: 20px;
	padding: 10px 0 30px 0;
}

#listadocente img {
	border-radius: 100%;	
	float: right;
	margin-top: 2%;
	margin-right: 4%;
	margin-left: 10px;
}

.h3info {
	font-size: 18px;
	display: inline-block;
	padding: 13px;
}

/*Para las listas debajo de h2 enfoque físico y enfoque psicológico*/

.li5 li {
	margin-bottom: 10px;
}

/*id principal / botonera  / footer ////////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	*/	

#principal {
	background: url(img/diagmonds.png) #49494a; /*#444242*/
	color:#BEBEBE;
	margin: 0px 40px;
	padding: 5px 15px 20px 15px;
	border-radius: 5px;
}

#principal>div>p {
	margin-top:10px; 
}

#gracias p {			/* para centrar el texto en gracias.html*/
	text-align: center;
}

#botonera {
	text-align: center;
	background: url("img/botoneraback5.png") no-repeat center;
	padding: 60px 0;
	font-size: 22px;
	text-transform: uppercase;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out; 
	transition-delay: 0;
	text-shadow: 4px 4px 2px #111;
	font-family: 'Voltaire'
}

#botonera:hover {
	background: url("img/botoneraback.png") no-repeat center;
}

#botonera li:after {
	content: '|';
	padding: 0 20px;
	color: white;
}	

#botonera li:last-child:after {
	content: '';
}

#botonera ul {
	margin:auto;
	padding: 20px;
}

#botonera ul li {
	display:inline-block;
}

#footer {
	margin:auto;
	width: 900px;
	text-align: center;
	color: #888;
	margin-top: 50px;
}

#footer li {
	display:inline-block;
}

/*contacto.html///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	*/	

form {
	background: rgb(1,1,1,0.3);
	width: 620px;
	padding: 20px 30px;
	margin: auto;
	margin-top: 20px;
}

form span {
	display: inline-block;
	width: 270px;
	margin-bottom: 15px;
	background: rgb(1,1,1,0.1) ;
}

input {
	margin-left: 20px;
	border-radius: 5px;
}
							
input[type=text]{
	background: rgb(1,1,1,0.3);
	outline: none;
}
							
							
input[type=text]:focus{
	background:#b99;												/*	TRIM COLOR	*/
	color: black;
}

textarea {
	resize:none;
	outline: none;
	border-radius: 5px;
}

textarea:focus{
	background:#b99;												/*	TRIM COLOR	*/
	color: black;
}

input[type=submit] {
	margin: 15px 0 0 270px;
}

input[type=checkbox] {
	margin-bottom: 8px;
}

select {
	margin-left: 15px;
	outline: none;
	border-radius: 5px;
}

#radio label {
	margin-left: 15px;
	margin-right: 1px;
}

#radio input {
	margin-left:0;
}

#checkbox span {
	float: left;
	width: 270px;
}

#checkbox div {
	margin-left: 275px;
}

#textarea {
	margin-top:15px;
}

#textarea span {
	vertical-align:top;
	margin-right: 15px;
}

#file { 		
	margin-top: 15px;
}

/*multi.html///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	///////////////	*/

#galeria {
	margin: 0 15px;
}

#galeria ul {
	padding-left: 5px;
	list-style: none;
}


#galeria li {
	display: inline-block;
}



#galeria img {
	margin: 5px 0 5px 40px;
	box-shadow: 3px 3px 15px rgb(1,1,1,0.2);
	transition-property: background, transform;	
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out; 
	transition-delay: 0s;
	filter: brightness(0.8);
}

#galeria img:hover {
	filter: none;
}																			

#videos li {
	display: inline-block;	
}

object {
	display:inline-block;
	box-shadow: 3px 3px 10px #111;
	transition-property: background, transform;	
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out; 
	transition-delay: 0s;
	filter: brightness(0.8);
}

object:hover {
	 filter:none;
}